/*--
Remember the cascade: 
 1. later styles override earlier ones 
 2. more specific styles override more general ones
--*/

html {
	font-size: 62.5%;
}
img {
	width: 100%;
	height: auto;
  
}
body {
  background-color: rgb(213, 225, 235);
  color: #444;
  font-size: 1.6rem;
  font-family: 'Gentium Book Basic', serif;
}
p {
  margin-bottom: .67em;
}
nav, footer {
  background-color: rgb(147, 204, 236);
}
footer {
  text-align: center;
  padding: 1em 0 .3em 0;
  color: #282828;
}
/*-- Main Menu Styles--*/
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1em;
  margin: 0
 
}
nav a:link, nav a:visited {
  color: rgb(12, 73, 135);
  text-decoration: none;
}
nav a:hover, nav a:active  {
  color: rgb(12, 73, 135);
  text-decoration: underline;
}
nav a.active {
  color:  rgb(12, 73, 135);
}
/*-- Hero Unit Styles--*/
header {
  width: 510px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin: auto;
}
header img {
  width: 100%;
  margin: 0 auto;
}
header h1 {
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  text-transform: capitalize;
  font-family:'Lato', sans-serif; 
  font: weight 900px;
  font-size: smaller;
}
.small {
  margin-top: 1em;
}
/*-- Article Styles--*/
article {
  width: 768px;
  font-size: 18px;
  line-height: 1.3;
  margin: auto;

}
article figure {
  width: 30%;
  margin: 0 0 1.25em 1.25em;
  float: right;
  

}
article figcaption {
  font-size: inherit;
  font-size: smaller;
  font-weight: lighter;
  font-family: 'Times New Roman', Times, serif;
  float: right;
  text-align: center
 
}
.pagination {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 96%;
  display: flex;
  justify-content: space-evenly;
}
a.button {
  border: 3px solid rgb(118, 129, 221);
  padding: .4em 1em .4em 1em;
  text-decoration: none;
  color: rgb(12, 73, 135);
  border-radius: 250px;
  border-color: rgb(104, 151, 201);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 70%;
  justify-content: space-evenly;
  margin: auto;
  
}
a.button:hover, a.button:active {
  border: 1px solid rgb(0, 0, 0);
  text-decoration: none;
  color: #222;
}
/*-- changes header and article width on small screens --*/
@media screen and (max-width: 768px) {
  header {width: 96%;}
  article {width: 96%;}
}
article p:first-child::first-letter {
  color: rgb(0, 0, 0);
  padding: 0 .3rem;
  margin: 0 .3rem 0 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 5rem;
  float: left;
  line-height: 2;
}

